<div class="container-fluid main-container bg-dark">
    <div class="row row-cols-1 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 g-2">
        <div class="col p-5 bg-dark">
            <div class="card border-0 bg-dark text-light">
                <div class="card-body">
                    <h1 class=" big_name"><span class="text-primary ">Info</span><span class="text-danger">Ever</span></h1>
                    <h3 class="text-warning">Switch your bussiness from ofline to online</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos quibusdam aliquam omnis recusandae itaque et nemo esse corrupti, blanditiis in odio velit ipsum temporibus amet quisquam suscipit reprehenderit quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolores reiciendis quas alias natus modi id placeat aut veniam incidunt.</p>
                <h4 class="fst-italic text-warning">Thanks for visiting here!</h4>
                <div class="nav-links text-warning">
                    <a href=""><span class="material-symbols-outlined text-warning mx-3">home</span></a>
                    <a href=""><span class="material-symbols-outlined text-warning mx-3">info</span></a>
                    <a href=""><span class="material-symbols-outlined text-warning mx-3">phone_in_talk</span></a>
                    <a href=""><span class="material-symbols-outlined text-warning mx-3">design_services</span></a>
                </div>
                </div>
            </div>
        </div>
        <div class="col auth-card">
            <div class="card border-shadow">    
                <div class="text-center p-1">
                    <img src="/assets/InfoEver.png" class="card-img-top auth-logo m-3" alt="...">
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- Sections -->

<!-- Home section -->


